.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .search-bar input {
    padding: 10px;
    width: 300px;
    border: 2px solid #ff6347;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #e53d3d;
  }
  .error-message {
    color: red;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
  }
  